-- SQL to make test@example.com an admin

-- Method 1: Direct INSERT (if you know the user exists)
INSERT INTO user_roles (user_id, role_id, assigned_by)
SELECT 
    u.id as user_id,
    r.id as role_id,
    u.id as assigned_by  -- Self-assigned for now, or use another admin's ID
FROM auth.users u
CROSS JOIN roles r
WHERE u.email = 'test@example.com' 
    AND r.name = 'admin'
    AND NOT EXISTS (
        SELECT 1 FROM user_roles ur 
        WHERE ur.user_id = u.id AND ur.role_id = r.id
    );

-- Method 2: Check if user exists first, then assign role
DO \$\$
DECLARE
    user_uuid UUID;
    admin_role_uuid UUID;
BEGIN
    -- Get user ID
    SELECT id INTO user_uuid 
    FROM auth.users 
    WHERE email = 'test@example.com';
    
    -- Get admin role ID
    SELECT id INTO admin_role_uuid 
    FROM roles 
    WHERE name = 'admin';
    
    -- Check if both exist
    IF user_uuid IS NOT NULL AND admin_role_uuid IS NOT NULL THEN
        -- Insert role assignment if it doesn't exist
        INSERT INTO user_roles (user_id, role_id, assigned_by)
        SELECT user_uuid, admin_role_uuid, user_uuid
        WHERE NOT EXISTS (
            SELECT 1 FROM user_roles 
            WHERE user_id = user_uuid AND role_id = admin_role_uuid
        );
        
        RAISE NOTICE 'Admin role assigned to test@example.com';
    ELSE
        IF user_uuid IS NULL THEN
            RAISE NOTICE 'User test@example.com not found';
        END IF;
        IF admin_role_uuid IS NULL THEN
            RAISE NOTICE 'Admin role not found';
        END IF;
    END IF;
END \$\$;
-- SQL to verify admin role assignment

-- Check if test@example.com has admin role
SELECT 
    u.email,
    r.name as role_name,
    ur.created_at as assigned_at
FROM auth.users u
JOIN user_roles ur ON u.id = ur.user_id
JOIN roles r ON ur.role_id = r.id
WHERE u.email = 'test@example.com';

-- Alternative: Check all roles for test@example.com
SELECT 
    u.email,
    array_agg(r.name) as roles
FROM auth.users u
LEFT JOIN user_roles ur ON u.id = ur.user_id
LEFT JOIN roles r ON ur.role_id = r.id
WHERE u.email = 'test@example.com'
GROUP BY u.id, u.email;
