@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mostrar scrollbar estilizado en cualquier contenedor con overflow-auto */
.overflow-auto::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* gris medio */
  border-radius: 4px;
}

.overflow-auto::-webkit-scrollbar-track {
  background-color: #edf2f7; /* gris claro */
}

/* Opcional: para Firefox */
.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7;
}
